@charset "utf-8";
/* CSS Document */

.rounded-div {
	background: #fff;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#fff), to(#fafafa));
	background-image: -webkit-linear-gradient(bottom, #fff, #fafafa);
	background-image: -moz-linear-gradient(bottom, #fff, #fafafa);
	background-image: -o-linear-gradient(bottom, #fff, #fafafa);
	background-image: linear-gradient(to top, #fff, #fafafa);
	border-color: #dfdfdf;
	border-width: 1px;
	border-style: solid;
	border-radius: 3px;
	margin-bottom:10px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
}

.sort-articles {
	border: 2px dashed #000;	
}

.sort-products {
	border: 2px dashed #000;
	width: 100px;
	float: left;
}

.manage-column.column-image {
	width: 200px;	
}


